In [14]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup,Tag
from selenium import webdriver
import requests
from datetime import datetime,date

In [15]:
driver=webdriver.Chrome(executable_path='C:/Users/admin/chromedriver.exe')
url='https://www.mohfw.gov.in/'
driver.get(url)
webContent=driver.page_source
pysoup=BeautifulSoup(webContent,'html')
driver.quit()

In [16]:
divdata=pysoup.find('div',{'class':'data-table table-responsive'})
divdate=divdata.h5.span.text.split(',')[0].split(':')[1].strip()
divdate
formate='%d %B %Y'
datetimeobj=datetime.strptime(divdate,formate).date()
datetimeobj

datetime.date(2021, 4, 1)

In [31]:
tr_head=pysoup.find('thead').find('tr',{'class':'row2'})
tr_head
headings=[th.text.strip() for th in tr_head.find_all('th')]
headings=['S. No.','Name of State / UT','Total',
 'Change since yesterdayChange since yesterday',
 'Cumulative',
 'Change since yesterday',
 'Cumulative',
 'Change since yesterday']

In [32]:
listoftr=pysoup.find('tbody').find_all('tr')
mytable=[]
for tr in listoftr:
    if isinstance(tr,Tag):
        stateData=[-int(td.text.strip())\
                   if td.span != None and td.span.get('class') in [['down']]\
                   else td.text.strip()
                   for td in tr.find_all('td')]
        data=dict(zip(headings,stateData))
        mytable.append(data)
       
state_data=pd.DataFrame(mytable,columns=headings)    
state_data

,S. No.,Name of State / UT,Total,Change since yesterdayChange since yesterday,Cumulative,Change since yesterday,Cumulative,Change since yesterday
0,1,Andaman and Nicobar Islands,45,2,62,,62,
1,2,Andhra Pradesh,7338,724,7217,4,7217,4
2,3,Arunachal Pradesh,4,,56,,56,
3,4,Assam,1862,16,1105,1,1105,1
4,5,Bihar,1580,124,1576,2,1576,2
5,6,Chandigarh,2918,87,379,,379,
6,7,Chhattisgarh,25529,3472,4170,39,4170,39
7,8,Dadra and Nagar Haveli and Daman and Diu,177,11,2,,2,
8,9,Delhi,8838,1409,11027,11,11027,11
9,10,Goa,1556,137,830,1,830,1
10,11,Gujarat,12610,347,4519,9,4519,9
11,12,Haryana,9726,289,3155,8,3155,8
12,13,Himachal Pradesh,2973,143,1048,3,1048,3
13,14,Jammu and Kashmir,2531,238,1994,4,1994,4
14,15,Jharkhand,2825,571,1113,,1113,
15,16,Karnataka,28267,2707,12567,26,12567,26
16,17,Kerala,25559,599,4621,15,4621,15
17,18,Ladakh,256,34,130,,130,
18,19,Lakshadweep,42,3,1,,1,
19,20,Madhya Pradesh,17096,1062,3986,9,3986,9
20,21,Maharashtra,357604,15717,54649,227,54649,227
21,22,Manipur,70,3,374,,374,
22,23,Meghalaya,49,4,150,,150,
23,24,Mizoram,31,3,11,,11,
24,25,Nagaland,112,105,92,,92,
25,26,Odisha,1905,136,1921,,1921,
26,27,Puducherry,1074,63,682,,682,
27,28,Punjab,23832,101,6868,55,6868,55
28,29,Rajasthan,8663,508,2818,5,2818,5
29,30,Sikkim,47,-1,135,,135,
30,31,Tamil Nadu,15879,1033,12719,19,12719,19
31,32,Telengana,5511,546,1701,4,1701,4
32,33,Tripura,60,4,392,,392,
33,34,Uttarakhand,1863,167,1717,4,1717,4
34,35,Uttar Pradesh,9848,653,8811,11,8811,11
35,36,West Bengal,5775,472,10329,2,10329,2
36,Total#,584055,31489,11474683,459,162927,459,162927
37,*(Including foreign Nationals),NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,**( more than 70% cases due to comorbidities ),NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,#States wise distribution is subject to furthe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,#Our figures are being reconciled with ICMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN